.certification_title_bx {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding-bottom: 26px;
  border-bottom: 1px solid #e7e7e7;
}
.certification_title_bx > h2 {
  color: #242424;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: -0.0024em;
}
.certification_title_bx > img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.certification_img_bx {
  margin: 26px 0 40px;
}
.btn {
  position: absolute;
  /* display: none; */
}
.btn1:checked::after {
  content: "";
  width: 456px;
  height: 564px;
  background: url("../../Images/study-certification-bg-1.png") no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.btn2:checked::after {
  content: "";
  width: 456px;
  height: 564px;
  background: url("../../Images/study-certification-bg-2.png") no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.btn3:checked::after {
  content: "";
  width: 456px;
  height: 564px;
  background: url("../../Images/study-certification-bg-3.png") no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.btn4:checked::after {
  content: "";
  width: 456px;
  height: 564px;
  background: url("../../Images/study-certification-bg-4.png") no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.label_bg_btn_bx {
  position: absolute;
  bottom: 0;
  display: flex;
}
.label_bg_btn1 {
  background: url("../../Images/study-certification-btn-1.png");
  width: 60px;
  height: 60px;
  background-size: cover;
}
.label_bg_btn2 {
  background: url("../../Images/study-certification-btn-2.png");
  width: 60px;
  height: 60px;
  background-size: cover;
}
.label_bg_btn3 {
  background: url("../../Images/study-certification-btn-3.png");
  width: 60px;
  height: 60px;
  background-size: cover;
}
.label_bg_btn4 {
  background: url("../../Images/study-certification-btn-4.png");
  width: 60px;
  height: 60px;
  background-size: cover;
}
