/*----------공부인증 박스----------*/
.certifi_bx {
  *width: 70.69vw;
  /* 임시 */
  *position: absolute;
  *top: 6.94vw;
  *z-index: 20000;
}
.certifi_title {
  display: flex;
  justify-content: space-between;
  padding: 0 0 2vw 0.9vw;
}
.certifi_title > h2 {
  color: #000000;
  font-size: 1.2vw;
  font-weight: bold;
  line-height: 2.2vw;
  letter-spacing: 0.0038em;
}
.certifi_title > button {
  padding: 0vw 0.8vw;
  background: #889cf2;
  border: none;
  border-radius: 1.46vw;
  color: #ffffff;
  font-size: 0.8vw;
  line-height: 1.25vw;
  text-align: center;
  letter-spacing: -0.0008em;
  cursor: pointer;
}
.certifi_card_bx {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  gap: 0.6vw;
  *overflow: scroll;
}
/* 더보기 버튼 */
.certifi_more_btn {
  margin-top: 1.81vw;
  display: flex;
  justify-content: center;
  position: relative;
}
.certifi_more_btn::before {
  position: absolute;
  top: 1.39vw;
  left: 0;
  width: 100%;
  height: 0.07vw;
  background: #e7e7e7;
  content: "";
}
/*.certifi_more_btn::after {
  position: absolute;
  top: 1.39vw;
  right: 0;
  width: 29.72vw;
  height: 0.07vw;
  background: #e7e7e7;
  content: "";
}*/
.certifi_more_btn > button {
  position: absolute;
  top: 0;
  box-sizing: border-box;
  width: 10vw;
  height: 2.8vw;
  background: #fefefc;
  border: 1px solid #e6e6e6;
  border-radius: 4vw;
  color: #959595;
  font-weight: 600;
  font-size: 0.9vw;
  line-height: 1vw;
  cursor: pointer;
  *z-index: 99;
}
/*----------공부인증 카드----------*/
/* 공부인증 카드 사이 margin */
/* .CertificationCardBx {
  margin: 0 0 0.83vw 0.76vw;
}
.CertificationCardBx:nth-child(3n + 1) {
  margin: 0 0 0.83vw 0;
} */
/* 사용자 지정 이미지 구분 배경 시작*/
.certifi_card_list_bx.nomal-bg .certifi_card_relative {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: absolute;
  padding: 2vw 1vw 1vw 1.3vw;
  width: 100%;
  height: 100%;
}

.certifi_card_list_bx.black-bg .certifi_card_relative {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: absolute;
  padding: 2vw 1vw 1vw 1.3vw;
  width: 100%;
  height: 100%;
  color: #fff;
}
.certifi_card_list_bx.black-bg::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 50%);
  top: 0;
  left: 0;
  width: 17.1vw;
  height: 22vw;
  border-radius: 0.76vw;
}
.certifi_card_list_bx.black-bg .certifi_card_relative .certifi_card_bottom > p {
  color: #fff;
  border: 1px solid #fff;
}
.certifi_card_list_bx.black-bg
  .certifi_card_relative
  .certifi_card_bottom
  > p
  > span {
  background: #fff;
}
/* 사용자 지정 이미지 구분 배경 끝 */

.certifi_card_top > h2 {
  margin-bottom: 1.5vw;
  font-size: 3vw;
  font-weight: 600;
  line-height: 2vw;
  letter-spacing: 0.0037em;
}
.certifi_card_top > p {
  max-width: 15.97vw;
  font-weight: 400;
  font-size: 0.9vw;
  line-height: 1.53vw;
  letter-spacing: -0.0041em;
  word-wrap: break-word;
}
.certifi_card_bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.certifi_card_bottom > p {
  padding: 0.28vw 0.56vw 0.28vw 0.42vw;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 1.04vw;
  color: #282828;
  font-size: 0.69vw;
  line-height: 0.7vw;
  white-space: nowrap;
  overflow: hidden;
  max-width: 9.03vw;
  text-overflow: ellipsis;
}
.certifi_card_bottom > p > span {
  display: inline-block;
  margin-right: 0.28vw;
  width: 0.7vw;
  height: 0.7vw;
  border-radius: 50%;
  background: #797979;
  text-indent: -694.38vw;
}

.certifi_card_bottom_comment {
  display: flex;
  cursor: pointer;
}
.certifi_card_bottom_comment > img {
  margin-right: 0.49vw;
  width: 1.2vw;
  height: 1.2vw;
}
.certifi_card_bottom_comment > p {
  font-size: 1vw;
  font-weight: 600;
  line-height: 1vw;
  letter-spacing: -0.0041em;
}

/*----------공부인증 작성----------*/
.certifi_write_title_bx {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding-bottom: 1.81vw;
  border-bottom: 1px solid #e7e7e7;
}
.certifi_write_title_bx > h2 {
  color: #242424;
  font-size: 1.25vw;
  font-weight: 600;
  line-height: 1.81vw;
  letter-spacing: -0.0024em;
}
.certifi_write_title_bx > img {
  width: 1.67vw;
  height: 1.67vw;
  cursor: pointer;
}

.certifi_write_post_bx {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.certifi_write_post_top > h3 {
  margin-bottom: 1.25vw;
  color: #242424;
  font-size: 3.47vw;
  font-weight: bold;
  line-height: 2.85vw;
  letter-spacing: 0.0037em;
}
.certifi_write_post_top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.certifi_write_post_top > textarea {
  padding: 1vw;
  width: 100%;
  height: 7.2vw;
  border: none;
  border-radius: 0.76vw;
  background-color: rgba(255, 255, 255, 0.8);
  color: #7a7d81;
  font-size: 0.9vw;
  font-weight: 600;
  line-height: 1.53vw;
  letter-spacing: -0.0041em;
  outline: none;
  resize: none;
}
.certifi_write_post_bx .bg_btn_bx {
  display: flex;
  justify-content: center;
  gap: 0.4vw;
  width: 100%;
}
.certifi_write_post_bx .bg_btn {
  width: 4vw;
  height: 4vw;
  border: none;
  background-size: cover;
}
.certifi_write_post_bx .bg_btn:first-child {
  margin-left: 0;
}
.certifi_write_post_bx .black_btn1 {
  background: url("../../Images//certifi_active_btn1.png");
  background-size: cover;
}
.certifi_write_post_bx .black_btn2 {
  background: url("../../Images//certifi_active_btn2.png");
  background-size: cover;
}
.certifi_write_post_bx .black_btn3 {
  background: url("../../Images//certifi_active_btn3.png");
  background-size: cover;
}
.certifi_write_post_bx .black_btn4 {
  background: url("../../Images//certifi_active_btn4.png");
  background-size: cover;
}
.certifi_write_post_bx .bg_btn1 {
  background: url("../../Images/study-certification-btn-1.png");
  background-size: cover;
}
.certifi_write_post_bx .bg_btn2 {
  background: url("../../Images/study-certification-btn-2.png");
  background-size: cover;
}
.certifi_write_post_bx .bg_btn3 {
  background: url("../../Images/study-certification-btn-3.png");
  background-size: cover;
}
.certifi_write_post_bx .bg_btn4 {
  background: url("../../Images/study-certification-btn-4.png");
  background-size: cover;
}
.certifi_write_post_bx .bg_btn5 {
  background: url("../../Images/study-certification-btn-5.png");
  background-size: cover;
}
.certifi_write_post_bx .bg_btn_input {
  display: none;
}

/*----------공부인증 댓글----------*/
.certifi_comment_title_bx {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding-bottom: 1vw;
  border-bottom: 1px solid #e7e7e7;
}
.certifi_comment_title_bx > h2 {
  color: #242424;
  font-size: 1vw;
  font-weight: 600;
  line-height: 1.81vw;
  letter-spacing: -0.0024em;
}
.certifi_comment_title_bx > img {
  width: 1.67vw;
  height: 1.67vw;
  cursor: pointer;
}

.certifi_comment_cont_bx {
  display: flex;
  justify-content: space-between;
  margin-top: 1vw;
}
/* 게시글 상세조회 사용자 지정 배경 처리 */
.bg_black .certifi_comment_bg {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2vw 1.3vw 1vw 1.3vw;
  width: 23.67vw;
  height: 31.17vw;
}
.bg_black .certifi_comment_bg > h3,
.bg_black .certifi_comment_bg > p {
  color: #fff;
}

.certifi_comment_bg {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 27.5vw;
}
.certifi_comment_bg > h3 {
  margin-bottom: 1.25vw;
  color: #242424;
  font-size: 3vw;
  font-weight: bold;
  line-height: 2.85vw;
  letter-spacing: 0.0037em;
}
.certifi_comment_bg > p {
  padding: 1.67vw 0;
  width: 100%;
  color: #282828;
  font-size: 0.9vw;
  font-weight: 400;
  line-height: 1.53vw;
  letter-spacing: -0.0041em;
}
.comment_my_profile_bx {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.my_profile_left {
  display: flex;
  align-items: center;
}
.my_profile_left > h4 {
  color: #242424;
  font-size: 0.9vw;
  font-weight: 600;
  line-height: 1.39vw;
  letter-spacing: -0.0008em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 6.94vw;
}
.my_profile_img_bx {
  overflow: hidden;
  margin-right: 1.53vw;
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 2.5vw;
}
.my_profile_img_bx > img {
  width: 100%;
  height: 100%;
}

.my_profile_right {
  display: flex;
}

.my_profile_right .post_del_btn {
  padding: 0.2vw 1vw;
  box-sizing: border-box;
  border-radius: 1.46vw;
  border: 1px solid #959595;
  background-color: #fff;
  color: #282828;
  font-size: 0.69vw;
  font-weight: 600;
  line-height: 1.11vw;
  text-align: center;
  letter-spacing: -0.0008em;
  cursor: pointer;
}

.my_profile_right .post_del_btn:hover {
  background: #889cf2;
  color: #fff;
  border: 1px solid #889cf2;
}
.certifi_conmment_input_bx {
  position: relative;
}
.certifi_conmment_input_bx > img {
  position: absolute;
  top: 0.7vw;
  right: 0.6vw;
  width: 1.5vw;
  height: 1.5vw;
  cursor: pointer;
}

/* 댓글 컴포넌트 css */

.comment_cont_right {
  width: 100%;
  padding: 1vw 1vw 0 2.2vw;
  box-sizing: border-box;
}
.certifi_conmment_list_bx {
  *overflow: scroll;
  margin-bottom: 2vw;
  *width: 33.13vw;
  height: 30.17vw;
}

.certifi_conmment_list_bx .none {
  display: none;
}
.certifi_conmment_list_bx .block {
  position: absolute;
  top: 2.78vw;
  right: 1.04vw;
  width: 6.25vw;
  /* height: 3.13vw; */
  background: #ffffff;
  box-shadow: 0vw 0.07vw 0.56vw 0.14vw rgba(150, 150, 150, 0.25);
  color: #242424;
  font-size: 0.9vw;
  font-weight: 600;
  line-height: 3.13vw;
  text-align: center;
  letter-spacing: -0.0008em;
}
.certifi_conmment_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.certifi_conmment_list + .certifi_conmment_list {
  margin-top: 1.53vw;
}
.certifi_conmment_list .list_profile_bx {
  display: flex;
  align-items: center;
}
.certifi_conmment_list .list_img_bx {
  overflow: hidden;
  margin-right: 1vw;
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 2.5vw;
}
.certifi_conmment_list .list_img_bx > img {
  width: 100%;
  height: 100%;
}
.certifi_conmment_list .list_profile_bx > h4 {
  margin-right: 1.11vw;
  color: #242424;
  font-size: 0.9vw;
  font-weight: 600;
  line-height: 1.39vw;
  letter-spacing: -0.0008em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 6.94vw;
}
.certifi_conmment_list .list_profile_bx > p {
  color: #242424;
  font-size: 0.9vw;
  line-height: 1.25vw;
  letter-spacing: -0.0008em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 16.67vw;
}
.certifi_conmment_list > span {
  margin-right: 0.69vw;
  color: #a3a6aa;
  font-size: 0.8vw;
  line-height: 1.25vw;
  letter-spacing: -0.0008em;
}
