/************************** 그룹리스트 **************************/
.group_left_bx {
  flex: 0.2;
}
.group_left_h2 {
  width: 12vw;
  margin-bottom: 0.9vw;
  color: #242424;
  font-size: 0.8vw;
  font-weight: 600;
  line-height: 1.2vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.group_left_h2 > span {
  margin-right: 0.5vw;
  padding: 0.2vw 0.5vw;
  background-color: #fff;
  border-radius: 0.9vw;
  font-size: 0.7vw;
  font-weight: 400;
  color: #242424;
}
.state_name_bx {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.group_name_wrap {
  max-width: 50%;
  min-width: 34%;
  margin-right: 4px;
}
.state_name_txt {
  display: inline-block;
  padding: 0.2vw 0.5vw 0.1vw 0.5vw;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 1vw;
  color: #282828;
  font-size: 0.7vw;
  line-height: 0.7vw;
  white-space: nowrap;
  overflow: hidden;
  max-width: 9vw;
  text-overflow: ellipsis;
}
.state_name_circle {
  display: inline-block;
  margin-right: 0.2vw;
  width: 0.7vw;
  height: 0.7vw;
  border-radius: 50%;
  background: #797979;
  text-indent: -694vw;
}
.state_name_txt + .state_name_txt {
  *margin-top: 0vw;
}

.group_right_bx {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ic_top_bx {
  display: flex;
  justify-content: flex-end;
}
.ic_top_bx > img:first-child {
  margin-right: 0.2em;
}
.ic_top_bx > img {
  width: 0.9vw;
  height: 0.9vw;
  mix-blend-mode: difference;
}
.ic_bottom_bx {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 0.5vw;
}
.ic_bottom_bx > img {
  width: 0.9vw;
  height: 0.9vw;
  mix-blend-mode: difference;
}
.ic_bottom_bx > p {
  color: #282828;
  font-size: 0.8vw;
  font-weight: 600;
}

.group_modal_title {
  color: #242424;
  font-size: 1vw;
  font-weight: bold;
  margin-left: 0.5vw;
}
.group_modal_hr {
  background: #e7e7e7;
  width: 100%;
  height: 1px;
  margin: 0.9vw 0;
}

.group_modal_subtitle {
  font-size: 0.9vw;
  margin-bottom: 0.9vw;
}

.group_modal_relative {
  position: relative;
}
.group_modal_roomStatus {
  position: absolute;
  top: 2.7vw;
  right: 0.9vw;
  display: inline-block;
  width: 1.5vw;
  *cursor: pointer;
}
.group_modal_roomStatus > img {
  width: 100%;
}

.group_modal_close {
  position: absolute;
  top: 0;
  right: 0;
  width: 2vw;
  cursor: pointer;
}
.group_modal_close > img {
  width: 100%;
}

/* 그룹 룸 리스트 순서별 컬러 */
.bg01 {
  background-color: #bef5a4 !important;
}

.bg02 {
  background-color: #889cf2 !important;
}

.bg03 {
  background-color: #ffd678 !important;
}

.bg04 {
  background-color: #a4e1fa !important;
}

.bg05 {
  background-color: #c4c5fb !important;
}

.bg06 {
  background-color: #fe9c77 !important;
}
.groupTimer_whatTime {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  font-size: 0.94vw;
}
.groupTimer_timer {
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
  font-size: 3.54vw;
  font-weight: 300;
}

/* 잠겨 있는 방 목록 */
.cloudy_bg {
  pointer-events: none !important;
  position: absolute;
  width: 17.6vw;
  height: 10vw;
  top: 0;
  border-radius: 0;
  background-color: rgb(255 255 255 / 60%);
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cloudy_bg > img {
  width: 2vw;
  height: 2.3vw;
}
.cloudy_bg > p {
  margin-top: 0.2vw;
  color: #486bff;
  font-weight: 600;
  font-size: 0.8vw;
  line-height: 1.5vw;
}
.groupTimer_end_btn {
  position: absolute;
  border: 1px solid #d7d7d7;
  border-radius: 3vw;
  width: 4.58vw;
  height: 3.48vh;
  text-align: center;
  line-height: 3.48vh;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.73vw;
  font-weight: 600;
  cursor: pointer;
}
/*타이머*/
.groupTimer_progress_background {
  width: 100%;
  height: 1.13vh;
  border-radius: 2vw;
  background-color: #eaeaea;
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
}
.groupTimer_progress_bar {
  width: 0.5vw;
  height: 1.13vh;
  border-radius: 2vw;
  background: linear-gradient(
    90deg,
    #eaf692 4.65%,
    #fcdf29 21.59%,
    #ffd678 39.49%,
    #fe9c77 58.32%,
    #c4c5fb 77.56%,
    #889cf2 97.59%
  );
  position: absolute;
  left: 0;
  top: 70%;
  transform: translateY(-50%);
  transition: all 2.2s ease;
}
.groupTimer_progress_bar::after {
  display: inline-block;
  content: "";
  width: 2.86vw;
  height: 4.71vh;
  background-image: url(../../Images/flag.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: -2vw;
  transform: translateY(-76%);
  background-size: cover;
}
.groupTimer_round {
  padding: 0.5vw 0.9vw;
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 0.73vw;
  font-weight: 600;
}
.video_modal_container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
.video_modal {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 80%;
  overflow-y: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
.video_modal_dim {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 80%;
  overflow-y: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.video_modal_fighting,
.video_modal_ending {
  color: #fff;
  font-size: 2vw;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}
.video_modal_ending {
  top: 15%;
  line-height: 4.2vh;
  z-index: 101;
}

.video_modal_round {
  color: #fff;
  font-weight: 800;
  font-size: 6vw;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
}
.video_modal_img {
  width: 33vw;
  height: 38vw;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
}
.video_close_modal_img {
  width: 23.28vw;
  height: auto;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 101;
}

.video_modal_close_btn {
  position: absolute;
  top: 6vw;
  right: 7vw;
  z-index: 101;
  cursor: pointer;
}
.video_end_study {
  height: 7.17vh;
  width: 25.94vw;
  font-size: 2.46vh;
  color: #fff;
  line-height: 7.17vh;
  text-align: center;
  background-color: #486bff;
  border-radius: 11px;
  font-weight: 600;
  position: absolute;
  left: 50%;
  top: 75%;
  transform: translateX(-50%);
  cursor: pointer;
  z-index: 101;
}
.video_background {
  width: 100%;
  height: 78%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0.9vw;
  background-color: #000;
  opacity: 0.7;
  display: none;
}
.video_non_src {
  width: 100%;
  height: 78%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0.9vw;
  background-image: url(../../Images/view.png);
  background-size: cover;
  background-position: center;
  display: none;
}
