/************************** 그룹리스트 **************************/
.group_left_h2 {
  max-width: 220px;
  margin-bottom: 12px;
  color: #242424;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.group_left_h2 span {
  margin-right: 8px;
  padding: 5px 10px;
  background-color: #fff;
  border-radius: 10px;
  font-size: 12px;
}
.state_name_bx {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.state_name_txt {
  padding: 4px 8px 4px 6px;
  border: 0.37px solid rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  color: #282828;
  font-size: 10px;
  line-height: 12px;
  white-space: nowrap;
  overflow: hidden;
  max-width: 130px;
  text-overflow: ellipsis;
}
.state_name_circle {
  display: inline-block;
  margin-right: 4px;
  width: 13.32px;
  height: 13.32px;
  border-radius: 13.32px;
  background: #797979;
  text-indent: -9999px;
}
.state_name_txt + .state_name_txt {
  margin-top: 4px;
}

.group_right_bx {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ic_top_bx {
  display: flex;
  justify-content: flex-end;
}
.ic_top_bx img {
  width: 20px;
  height: 20px;
  mix-blend-mode: difference;
}
.ic_bottom_bx {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.ic_bottom_bx img {
  margin-right: 6px;
  width: 10px;
  height: 10px;
  mix-blend-mode: difference;
}
.ic_bottom_bx p {
  color: #282828;
  font-size: 14px;
  font-weight: 600;
}

.group_modal_title {
  color: #242424;
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
}
.group_modal_hr {
  background: #e7e7e7;
  width: 100%;
  height: 1px;
  margin: 20px 0;
}

.group_modal_subtitle {
  font-size: 16px;
  margin-bottom: 16px;
}

.group_modal_relative {
  position: relative;
}
.group_modal_roomStatus {
  position: absolute;
  top: 40px;
  right: 14px;
  display: inline-block;
  width: 24px;
  cursor: pointer;
}
.group_modal_roomStatus img {
  width: 100%;
}

.group_modal_close {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  cursor: pointer;
}
.group_modal_close img {
  width: 100%;
}
