/************************** 그룹리스트 **************************/
.group_left_bx {
  flex: 0.2;
}
.group_left_h2 {
  width: 210px;
  margin-bottom: 12px;
  color: #242424;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.group_left_h2 > span {
  margin-right: 8px;
  padding: 5px 10px;
  background-color: #fff;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 400;
  color: #242424;
}
.state_name_bx {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.group_name_wrap {
  max-width: 50%;
  min-width: 34%;
}
.state_name_txt {
  display: inline-block;
  padding: 4px 8px 4px 6px;
  border: 0.37px solid rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  color: #282828;
  font-size: 10px;
  line-height: 12px;
  white-space: nowrap;
  overflow: hidden;
  max-width: 130px;
  text-overflow: ellipsis;
}
.state_name_circle {
  display: inline-block;
  margin-right: 4px;
  width: 13.32px;
  height: 13.32px;
  border-radius: 13.32px;
  background: #797979;
  text-indent: -9999px;
}
.state_name_txt + .state_name_txt {
  *margin-top: 4px;
}

.group_right_bx {
  flex: 0.2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ic_top_bx {
  display: flex;
  justify-content: flex-end;
}
.ic_top_bx > img {
  width: 20px;
  height: 20px;
  mix-blend-mode: difference;
}
.ic_bottom_bx {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 5px;
}
.ic_bottom_bx > img {
  width: 15px;
  height: 15px;
  mix-blend-mode: difference;
}
.ic_bottom_bx > p {
  color: #282828;
  font-size: 14px;
  font-weight: 600;
}

.group_modal_title {
  color: #242424;
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
}
.group_modal_hr {
  background: #e7e7e7;
  width: 100%;
  height: 1px;
  margin: 20px 0;
}

.group_modal_subtitle {
  font-size: 16px;
  margin-bottom: 16px;
}

.group_modal_relative {
  position: relative;
}
.group_modal_roomStatus {
  position: absolute;
  top: 44px;
  right: 14px;
  display: inline-block;
  width: 24px;
  cursor: pointer;
}
.group_modal_roomStatus > img {
  width: 100%;
}

.group_modal_close {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  cursor: pointer;
}
.group_modal_close > img {
  width: 100%;
}

/* 그룹 룸 리스트 순서별 컬러 */
.bg01 {
  background-color: #bef5a4 !important;
}

.bg02 {
  background-color: #889cf2 !important;
}

.bg03 {
  background-color: #ffd678 !important;
}

.bg04 {
  background-color: #a4e1fa !important;
}

.bg05 {
  background-color: #c4c5fb !important;
}

.bg06 {
  background-color: #fe9c77 !important;
}
.groupTimer_whatTime {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  font-size: 18px;
}
.groupTimer_timer {
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
  font-size: 68px;
  font-weight: 300;
}

/* 잠겨 있는 방 목록 */
.cloudy_bg {
  pointer-events: none !important;
  position: absolute;
  width: 330px;
  top: 0;
  height: 180px;
  border-radius: 11px;
  background-color: rgb(255 255 255 / 60%);
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cloudy_bg > img {
  width: 28px;
  height: 34px;
}
.cloudy_bg > p {
  margin-top: 10px;
  color: #486bff;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}
.groupTimer_end_btn {
  position: absolute;
  border: 1px solid #d7d7d7;
  border-radius: 38px;
  width: 88px;
  height: 34px;
  text-align: center;
  line-height: 34px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
/*타이머*/
.groupTimer_progress_background {
  width: 100%;
  height: 11px;
  border-radius: 31px;
  background-color: #eaeaea;
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
}
.groupTimer_progress_bar {
  width: 0px;
  height: 11px;
  border-radius: 31px;
  background: linear-gradient(
    90deg,
    #eaf692 4.65%,
    #fcdf29 21.59%,
    #ffd678 39.49%,
    #fe9c77 58.32%,
    #c4c5fb 77.56%,
    #889cf2 97.59%
  );
  position: absolute;
  left: 0;
  top: 70%;
  transform: translateY(-50%);
  transition: all 2.2s ease;
}
.groupTimer_progress_bar::after {
  display: inline-block;
  content: "";
  width: 55px;
  height: 46px;
  background-image: url(../../Images/flag.png);
  position: absolute;
  top: 0;
  right: -24px;
  transform: translateY(-76%);
  background-size: contain;
}
.groupTimer_round {
  padding: 7px 12px;
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 14px;
  font-weight: 600;
}

.video_modal {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 80%;
  overflow-y: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
.video_modal_fighting {
  color: #fff;
  font-size: 30px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}
.video_modal_round {
  color: #fff;
  font-weight: 800;
  font-size: 80px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
}
.video_modal_img {
  width: 476px;
  height: 540px;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
}
.video_modal_close_btn {
  position: absolute;
  top: 80px;
  right: 100px;
  z-index: 101;
  cursor: pointer;
}

.video_background {
  width: 387px;
  height: 236px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 11px;
  background-color: #000;
  opacity: 0.7;
  display: none;
}
