.groupreco_bx {
  *max-width: 71vw;
  /* 헤더만큼 margin */
  *margin-top: 6vw;
}
.groupreco_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1vw 0vw 1.5vw 1vw;
}
.groupreco_top > h2 {
  font-size: 1.2vw;
  font-weight: bold;
  line-height: 3vw;
}
.groupreco_top .groupreco_reload_span {
  position: relative;
 *margin-left: 0.78vw;
}
.groupreco_top .groupreco_reload_span .groupreco_reload {
  *position: absolute;
  *top: 2px;
  width: 1.25vw;
  cursor: pointer;
}

.groupreco_search {
  display: flex;
}
.hashtag_list_bx {
  display: flex;
  height: 2.5vw;
}
.hashtag_list_bx > button {
  margin-right: 0.5vw;
}
.hashtag_list_bx > button:last-child {
  margin-right: 0;
}
.search_bx {
  position: relative;
}
.search_bx > img {
  position: absolute;
  top: 0;
  right: 0;
  width: 1vw;
  height: 1vw;
}

/* 그룹 목록 카드 */
.groupreco_bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  gap: 0.6vw;
}
/* .groupbx_card {
  margin: 0 0 1vw 1vw;
}
.groupbx_card:nth-child(3n + 1) {
  margin: 0 0 1vw 0;
} */
.search_bx {
  position: relative;
  width: 3vw;
}
.search_bx_input {
  width: 100%;
  border: none;
  border-radius: 1vw;
  background: #eee;
}
.search_bx > img {
  position: absolute;
  top: 0.5vw;
  right: 0.5vw;
  width: 2vw;
  height: 2vw;
}

/* 더보기 버튼*/
.groupreco_more_btn {
  margin-top: 2vw;
  height: 4vw;
  display: flex;
  justify-content: center;
  position: relative;
}
.groupreco_more_btn::before {
  position: absolute;
  top: 1.5vw;
  left: 0;
  width: 100%;
  height: 1px;
  background: #e7e7e7;
  content: "";
}
/*.groupreco_more_btn::after {
  position: absolute;
  top: 1.5vw;
  right: 0;
  width: 29vw;
  height: 1px;
  background: #e7e7e7;
  content: "";
}*/
.groupreco_more_btn > button {
  position: absolute;
  top: 0;
  box-sizing: border-box;
  width: 10vw;
  height: 2.8vw;
  background: #fefefc;
  border: 1px solid #e6e6e6;
  border-radius: 4vw;
  color: #959595;
  font-weight: 600;
  font-size: 0.9vw;
  line-height: 2vw;
  cursor: pointer;
  *z-index: 1;
}
